# white space removed
/data/raw-company-statements

# leaving in white spaces and adding any non nasdaq companies if they have a ticker
/data/raw-company-statements-v2

# clean company statements
/data/clean-company-statements

# giant SEC file
/data/filing-history

# giant DB backup file
/MySQLConn/sql/backup.sql

# keep db variables
.env