# sorry, the data is too big to upload to github
data/

# giant DB backup file
/MySQLConn/sql/backup.sql

# keep db variables
.env

# model vocab and structure
/torch/saved_models
/torch/saved_vocab
/torch/runs