[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
torch = "==1.13.1"
torchtext = "==0.14.0"
pandas = "*"
bs4 = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
iexfinance = "*"
yfinance = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.9"
